<a href="https://colab.research.google.com/github/sharathh/python-machine-learning/blob/main/2_4_List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Objects in Python:
1. Immutable Objects
2. Mutable Objects

Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:
1. List
2. Set
3. Dictionary

In [2]:
#list enclosed in []
list = [1,2,3,4,5]
print(list)
type(list)

[1, 2, 3, 4, 5]

list

In [3]:
# lists can hold different data types
myList = [1,2,1.5,'ML',True]
print(myList)

[1, 2, 1.5, 'ML', True]

In [4]:
# list can be modified i.e mutable
#add elements to list
myList.append(6)
print(myList)

[1, 2, 1.5, 'ML', True, 6]

In [5]:
#print elements of list via index
print(myList[0])
print(myList[3])

1
ML

In [6]:
#list allows duplicate values
list_1 = [1,2,3,9,2,3]
print(list_1)

[1, 2, 3, 9, 2, 3]

In [7]:
print(len(list_1))

6

In [9]:
#initialize an empty list
list_2 = []
print(list_2)
list_2.append(1)
list_2.append(2)
print(list_2)

[]
[1, 2]

In [10]:
#delete an item from a list
del list_2[0]
print(list_2)

[2]

In [12]:
#join two lists
list_1 = [1,2,3,9,2,3]
list_2 = [4,5,6]
list_3 = list_1 + list_2
print(list_3)

[1, 2, 3, 9, 2, 3, 4, 5, 6]

In [14]:
# tuple
tuple_1 = (1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [15]:
#tuple - we can have different data type elements
tuple_2 = (1,2,1.5,'ML',True)
print(tuple_2)

(1, 2, 1.5, 'ML', True)

In [16]:
#convert a list into a tuple
list_1 = [1,2,3,9,2,3]
tuple_3 = tuple(list_1)
print(tuple_3)

(1, 2, 3, 9, 2, 3)

In [17]:
#print tuple elements via index value
print(tuple_3[0])
print(tuple_3[3])

1
9

In [18]:
# tuples cannot be modified once created so it is immutable
tuple_3[0] = 10

TypeError: 'tuple' object does not support item assignment

In [19]:
tuple_3.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
print(tuple_3)

(1, 2, 3, 9, 2, 3)

In [21]:
#set makes use of curly brackets
set_1 = {1,2,3,4,5}
print(set_1)
type(set_1)

{1, 2, 3, 4, 5}

set

In [22]:
print(set_1[0])

TypeError: 'set' object is not subscriptable

In [24]:
# convert a list into a set
list_1 = [1,2,3,9,2,3]
set_2 = set(list_1) #set doesn't allow duplicate values
print(set_2)

{1, 2, 3, 9}

In [28]:
# dictionary key value pair
dict_1 = {1:'one',2:'two',3:'three'}
print(dict_1)
type(dict_1)

myDictionary = {'key1':'value1','key2':20}
print(myDictionary)
type(myDictionary)

{1: 'one', 2: 'two', 3: 'three'}
{'key1': 'value1', 'key2': 20}

dict

In [29]:
print(myDictionary['key1'])
print(myDictionary['key2'])

value1
20

In [31]:
#dict doesn't allow duplicate keys
dict_2 = {1:'one',2:'two',3:'three',1:'1'}
print(dict_2)

{1: '1', 2: 'two', 3: 'three'}