<a href="https://colab.research.google.com/github/sharathh/python-machine-learning/blob/main/2_5_Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

In [6]:
#Arithmetic operators
num1 = 20
num2 = 10
#addition
add = num1 + num2
#subtraction
sub = num1 - num2
#multiplication
mul = num1 * num2
#division
div = num1 / num2
#integer division or floor division
floor_div = num1 // num2
#modulus
mod = num1 % num2
#exponent
exp = num1 ** num2
print(add)
print(sub)
print(mul)
print(div)
print(floor_div)
print(mod)
print(exp)

30
10
200
2.0
2
0
10240000000000

In [7]:
#assignment
a = 5
print(a)

5

In [8]:
a = 5
a += 5 # a = a +5 it is a short hand notation
print(a)

10

In [9]:
b = 5
b -=2
print(b)

3

In [10]:
a = 2
a *= 2
print(a)

4

In [12]:
#comparision
a = 5
b = 10
#equal to
print(a == b)
# not equal to
print(a != b)
# greater than
print(a > b)
#less than
print(a < b)
# greater than or equal to
print(a >= b)
#less than or equal to
print(a <= b)

False
True
False
True
False
True

In [13]:
# logical operators and or not
a = 10
print(a > 20 and a > 5)
print(a > 20 or a > 5)
print(not(a > 20 or a > 5))

False
True
False

In [14]:
# identity operator is is not
x = 5
y = 5
print(x is y)
print(x is not y)

True
False

In [15]:
# membership operators  in not in
x = ["apple", "banana"]
print("banana" in x)
print("pineapple" not in x)

True
True